/* Translations */
.ve-translation {
    display: inline;
    font-size: 1.3em;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0.7em;
    margin-left: 0em;
}

.ve-translation-selector {
    width: 5rem;
    margin-right: 0.7em;
    display: none;
}

.ve-translation-alternatives {
	font-size: 0.8em;
	margin-left: 0.6em;
	color: #efefec;
}

.ve-translation-alternatives-dark {
    color: #6e6e6e;
}

/* Links */

.ve-external-link {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin: 0.1em;
}

/* voc.com css override */
.wordlist.notesView a.word {
    margin-right: 10px;
}

.ve-external-link > img {
    width: 100%;
    display: block;
    filter: grayscale(1);
    opacity: 0.3;
}

.ve-external-link:hover > img {
    transition: all .3s;
    filter: grayscale(0);
    opacity: 1;
}

/* Quiz injection */
.ve-quiz-injection {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.ve-quiz-injection > .ve-links {
    margin-right: 2em;
    margin-top: 0.5em;
}

.ve-quiz-injection .ve-external-link > img {
    opacity: 0.5;
}

.ve-quiz-injection .ve-external-link:hover > img {
    opacity: 1;
}

