/* Translations */
.ve-translation {
    display: inline;
    font-size: 1.3em;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0.7em;
    margin-left: 0em;
}

.ve-translation-selector {
    width: 5rem;
    margin-right: 0.7em;
    display: none;
}

.ve-translation-alternatives {
	font-size: 0.8em;
	margin-left: 0.6em;
	color: #efefec;
}

.ve-translation-alternatives-dark {
    color: #6e6e6e;
}

/* Links */

.ve-external-link {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 12px;
}

.ve-external-link:first-child {
    margin-left: 0;
}

/* in word list page */
.entry .ve-external-link {
    margin-bottom: 0;
}

.ve-source-link {
    pointer-events: none;
    cursor: default;
    color: #333 !important;
}

/* uses this symbol font: https://symbolset.com/icons/standard */

/* pronunciation audio button in list view */
.learnable .ve-audio {
    position: relative;
    left: -10px;
    top: -23px;
    padding-left: 0.19rem;
    font-size: 1rem;
   
}

/* voc.com css override */
.wordlist.notesView a.word {
    margin-right: 10px;
}

/* base links */
.ve-external-link > img {
    width: 100%;
    display: block;
    filter: grayscale(1);
    /* base opacity */
    opacity: 0.3;
}

/* light up all links w/ color */
.ve-links:hover img {
    transition: all .3s;
    transition-delay: .07s;
    filter: grayscale(0);
    opacity: 1;
}

/* Quiz injection */
.ve-quiz-injection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ve-quiz-injection > .ve-links {
    margin-right: 2em;
    margin-top: 0.5em;
}

/* Other opacities for quiz injection */
.ve-quiz-injection .ve-external-link > img {
    /* opacity: 0.5; */
    /* intermediary opacity does not make sense when they all light up */
}

.ve-quiz-injection .ve-external-link:hover > img {
    opacity: 1;
    filter: drop-shadow(0px 0px 2px #ffffffe6);
}

.ve-example-sentence {
    font-style: italic;
    margin-top: -0.4em;
    font-size: 1.3em;
    font-weight: 100;
    margin-bottom: 0.3em;
}

.ve-example-source {
    text-align: right;
    margin-right: 3em;
}

.ve-example-source-word {
    font-weight: 500;
}