/* Translations */
.ve-translation {
    display: inline;
    font-size: 1.3em;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0.7em;
    margin-left: 0em;
}

.ve-translation-selector {
    width: 5rem;
    margin-right: 0.7em;
    display: none;
}

.ve-translation-alternatives {
	font-size: 0.8em;
	margin-left: 0.6em;
	color: #efefec;
}

.ve-translation-alternatives-dark {
    color: #6e6e6e;
}

/* Links */

.ve-links {
    display: block;
}

.ve-external-link {
    display: inline-block;
    width: 48px;
    height: 48px;
    padding: 12px;
}

.ve-external-link:first-child {
    padding-left: 0;
    width: 36px;
}

/* in word list page */
.entry .ve-external-link {
    padding-bottom: 0;
    height: 36px;
}

/* collapse links */
.ve-source-link-collapse {
    overflow: hidden;
    display: inline-block;
    position: relative;
    height: 40px;
    /*  width should be determined by code 
        it needs a concrete w/h for the overflow hidden to work
        may be problematic on mobile (take this into account?)
    */
}

/* 
    hacky solution to not have an extra row on mobile 
    so far no nice animation there
*/
@media screen and (max-width: 750px) {
    .ve-source-link-collapse:not(.active) {
        display: none;
    }

    .ve-source-link-collapse.active {
        bottom: 0;
    }

    .ve-source-link-collapse-button {
        transform: rotate(90deg) !important;
    }

    .ve-source-link-collapse-button.active {
        transform: rotate(-90deg) !important;
    }
}

.ve-source-link-collapse .ve-links {
    /* position: relative; */
    display: inline-block;
    position: absolute;
    /* top: 26px; */
    /* initial don't-see-me setting */
    transform: translateX(-700px);
    transition: transform 1s;
}

.ve-source-link-collapse.active .ve-links {
    transition: transform 1s;
    /* transform: translateX(0px); */
}

/* collapse button
.ve-source-link-collapse-button-wrapper {
    position: relative;
    display: inline-block;
} */

/* uses this symbol font: https://symbolset.com/icons/standard */
.ve-vocab-symbol {
    font-family: "SSStandard";
	color: #999;
	text-decoration: none !important;
	display: inline-block;
}

.ve-source-link-collapse-button {
	white-space: nowrap;
	font-size: 13px;
	margin: 0 0 0 .3em;
	cursor: pointer;
	transition: all .3s;
	position: relative;
	bottom: 11px;
	margin-right: 15px;
}

.ve-external-link--options {
	position: relative;
	bottom: 3px;
    font-size: 18px;
    cursor: pointer;
}

.ve-external-link-seperator {
    display: inline-block;
    width: 2px;
    height: 1.5rem;
    background: #aaa;
}

/* version with collapse button under audio */
/* .ve-source-link-collapse-button {
    text-decoration: none !important;
    color: #999;
    white-space: nowrap;
    display: inline-block;
    font-size: 13px;
    margin: 0 0 0 .3em;
        margin-right: 0px;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    bottom: -5px;
    margin-right: 15px;
    left: -29px;
} */

.ve-source-link-collapse-link {
    margin-right: 0.2em;
    font-size: 16px;
    cursor: default;
}

.ve-source-link-collapse-button.active {
    transform: rotate(-180deg);
}

.ve-source-link-collapse .ve-links.active {
    transition: transform 1s;

}

.ve-source-link {
    pointer-events: none;
    cursor: default;
    color: #333 !important;
}


/* pronunciation audio button in list view */
.entry .ve-audio {
    position: relative;
    left: -10px;
    top: -23px;
    padding-left: 0.19rem;
    font-size: 1rem;
   
}

/* definition injection link styling */
.section.related .ve-links {
    padding-left: 13px;
    margin-bottom: 13px;
    margin-top: -10px;
}

/* voc.com css override */
.wordlist.notesView a.word {
    margin-right: 10px !important;
}

/* base links */
.ve-external-link > img {
    width: 100%;
    display: block;
}

/* animation: hover grow */
.ve-links.ve-links--grow .ve-external-link {
    height: 36px;
    transition: transform .2s;
}

.ve-links.ve-links--grow .ve-external-link:hover {
    transform: scale(1.25);
    transition: transform 0.25s;
}

/* animation: dimmed + hover light all */
.ve-links.ve-links--light-all .ve-external-link > img {
    filter: grayscale(1);
    /* base opacity */
    opacity: 0.3;
}

.ve-links.ve-links--light-all:hover img {
    transition: all .3s;
    transition-delay: .07s;
    filter: grayscale(0);
    opacity: 1;
}

/* animation: hover highlight single with light shadow */
.ve-links.ve-links--highlight .ve-external-link:hover > img {
    opacity: 1;
    filter: drop-shadow(0px 0px 2px #ffffffe6);
}

/* Quiz injection */
.ve-quiz-injection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ve-quiz-injection > .ve-links {
    margin-right: 2em;
    margin-top: 0.5em;
}

/* Other opacities for quiz injection */
.ve-quiz-injection .ve-external-link > img {
    /* opacity: 0.5; */
    /* intermediary opacity does not make sense when they all light up */
}

.ve-example-sentence {
    font-style: italic;
    margin-top: -0.4em;
    font-size: 1.3em;
    font-weight: 100;
    margin-bottom: 0.3em;
}

.ve-example-source {
    text-align: right;
    margin-right: 3em;
}

.ve-example-source-word {
    font-weight: 500;
}

/* Mobile add */

.ve-mobile-add {
/*   padding: 10px 2.5%; */
    box-sizing: border-box;
    padding: 10px 2.5%;
    box-shadow: 0 0 2px 0 rgb(0, 0, .1);
    background: linear-gradient(to bottom,rgba(255,255,255,0.9) 0,rgba(255,255,255,0.98) 100%);
    position: fixed;
    bottom: 0;
    width: 100%;
/*   height: 3rem; */
    z-index: 2;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.ve-mobile-add select {
    margin: 0 13px;
    padding: 0 4px;
    border: 2px solid #C1C1C1;
    border-radius: 3px;
    box-sizing: border-box;
    max-width: 40vw;
}

.ve-mobile-add button { 
    font-size: 1rem;
    margin: .5rem .5rem .5rem 0;
    padding: 0 1rem;
    line-height: 2.5rem;
    outline: none;
    border: none;
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 0;
    margin-top: 0px;
    cursor: pointer;
    transition: all .5s ease 0;
    font-family: 'open sans', sans-serif;
    text-decoration: none !important;
    background-image: none;
    height: auto;
    width: auto;
/*   background-color: #999; */

    background-color: #4db538;
}

.ve-mobile-add .ve-mobile-add__icon {
    height: 40px;
}

.ve-mobile-add .ve-mobile-add__right {
    display: flex;
    justify-content: flex-end;
}